<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">Spark GUI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div *ngFor="let ds of datasets">
        <button class="btn btn-warning" type="button" (click)="onSelect(ds)">{{ds}}</button>
    </div>
    <app-command-bar class="pt-3" (commandEntered)="sendCmd($event)"></app-command-bar>
</nav>
<app-show-dataset [userCmd]="userCommand" [datasetID]="currentDataset"></app-show-dataset>





